<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
    <body class="sb-nav-fixed" th:fragment="layoutPV">
    	
        <nav class="sb-topnav navbar navbar-expand navbar-blue-pet bg-blue-pet">
            <a class="navbar-brand text-white" th:href="@{/inicio}">Almacen</a>
            <!-- Sidebar Toggle-->
            <button class="btn order-1 order-lg-0 text-light" id="sidebarToggle" href="#">
            	<span class="fas fa-align-justify"></span >
            	PROVEEDORES
        	</button>
            
            <!-- Navbar Usuario-->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">
                    <span class="text-white" th:text="${nombreUsuarioLogueado}"></span>
                </div>
            </form>
            
             <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
      		<!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle text-white" id="userDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="img-profile rounded-circle" src="/imagenesGenerales/undraw_profile.svg">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                        <a class="dropdown-item" th:href="@{/usuario/editarContrasenia}">
                            <i class="fas fa-asterisk fa-sm fa-fw mr-2 text-gray-400"></i>
                            Actualizar contraseña
                        </a>
                        <a class="dropdown-item" th:href="@{/usuario/predeterminarSedeSistema}">
                            <i class="fas fa-asterisk fa-sm fa-fw mr-2 text-gray-400"></i>
                            Predeterminar sede de trabajo
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/logout}" >
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Salir
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-blue-pet" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                        	<a class="nav-link btn btn-outline-dark collapsed text-white" href="#" data-toggle="collapse" data-target="#proveedorOpciones" 
                               aria-expanded="false" aria-controls="proveedorOpciones">
                               <div class="sb-nav-link-icon text-white"><i class="fas fa-book-open"></i></div>
                                PROVEEDOR
                               <div class="sb-sidenav-collapse-arrow text-white"><i class="fas fa-angle-down"></i></div>
                            </a >
                            <div class="" id="proveedorOpciones" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a  class="nav-link btn btn-outline-info text-white"  th:href="@{/proveedor/inicio}">
		                                <div class="sb-nav-link-icon text-white"><i class="fas fa-truck"></i></div>
		                            	Datos generales
		                            </a >
		                            <a  class="nav-link btn btn-outline-info text-white"  th:href="@{/proveedor/crearProveedor}">
		                                <div class="sb-nav-link-icon text-white"><i class="fas fa-plus"></i></div>
		                            	Crear proveedor
		                            </a >
		                            <a  class="nav-link btn btn-outline-info text-white"  th:href="@{/proveedor/listaProveedores}">
		                                <div class="sb-nav-link-icon text-white"><i class="fas fa-list"></i></div>
		                            	Listar proveedores
		                            </a >
                                </nav>
                            </div>
                        	
                            <a class="nav-link"  th:href="@{/ayudaManualUsuario/listaAyudasManualUsuario}">
                                <div class="sb-nav-link-icon"><i class="fas fa-question-circle"></i></div>
                            	Ayuda
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        
        <div th:insert="layout/scripts :: scripts"></div >
        
    </body>
    
</html>
