<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
    <body class="sb-nav-fixed " th:fragment="layout">
    	
        <nav class="sb-topnav navbar navbar-expand navbar-blue-pet bg-blue-pet">
            <a class="navbar-brand text-light" th:href="@{/}">Inicio</a>
            <!-- Sidebar Toggle-->
            
            <!-- Navbar Usuario-->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">
                    <span class="text-light" th:text="${nombreUsuarioLogueado}"></span>
                </div>
            </form>
            
             <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
      		<!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle text-white" id="userDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="img-profile rounded-circle" src="/imagenesGenerales/undraw_profile.svg">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                        <a class="dropdown-item" th:href="@{/usuario/editarContrasenia}">
                            <i class="fas fa-asterisk fa-sm fa-fw mr-2 text-gray-400"></i>
                            Actualizar contraseña
                        </a>
                        <a class="dropdown-item" th:href="@{/usuario/predeterminarSedeSistema}">
                            <i class="fas fa-asterisk fa-sm fa-fw mr-2 text-gray-400"></i>
                            Predeterminar sede de trabajo
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/logout}" >
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Salir
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        
        <div th:insert="layout/scripts :: scripts"></div >
        
        
        
    </body>
    
</html>
